* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

section.hero {
  min-height: 100vh;
  height: 100%;
  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 4em);
    padding-top: 4em;
    text-align: center;
    h1.heading {
      font-size: 2rem;
      margin: 0 0.5em;
      padding: 4rem 0 2rem;
    }
    form {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      padding: 0.5em;
      input {
        padding: 0.5em 2em;
        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border: 1px solid #ACACAC;
      }
      button {
        margin: 0 0.5rem;
        padding: 0 20px;
      }
    }
    a {
      margin: 1rem 0;
      padding: 0.5em;
      background-color: #FFAACC;
      border-top: 4px solid #FFEECC;
      border-right: 4px solid #FF88DD;
      border-bottom: 4px solid #FF88DD;
      border-left: 4px solid #FFAA77;
      box-shadow: 
        0 2px 2px #d8d7d7, 
        2px 0 2px #d8d7d7, 
        0 -2px 2px #FFF,
        -2px 0 2px #FFF;
      border-radius: 6px;
      text-decoration: none;
      font-weight: 600;
      color: #000;
    }
  }
}
