section.section {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 41px);
  height: 100%;
}

@import "./common/navbar.scss";
@import "./common/home.scss";
@import "./tasks/today.scss";
