section.section {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 41px);
  height: 100%;
}

div.header {
  background-color: #d5e8eb;
  padding: 0.5em 1em;
}

@import "./common/navbar.scss";
@import "./common/home.scss";
@import "./tasks/today.scss";
